body {
  background: lightskyblue;
}

#table,
table {
  margin: 20px 50px;
  display: inline-block;
}

td {
  width: 65px;
  height: 65px;
  border-radius: 15px;
  background: white;
  text-align: center;
  text-transform: uppercase;
}

.ball,
.preview_ball {
  height: 45px;
  width: 45px;
  border-radius: 45px;
  margin: auto;
  display: inline-block;
  vertical-align: middle;
}

.preview_ball {
  margin: 10px;
}

.clicked {
  height: 55px;
  width: 55px;
  border-radius: 55px;
}

#preview {
  display: inline-block;
  margin: 20px;
  vertical-align: top;
}

i {
  display: block;
}